.body-wrapper {
  font-family: "Fraunces Variable", serif;
  min-height: 100vh;
}

.hero-section {
  position: sticky;
  top: 0;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .imageWrapper {
    width: 100%;
    height: 100%;
    transform: translate(0, 120%);
    perspective: 1000;
  }
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(40%, -70%);
    width: 35%;
    .fade {
      opacity: 0;
    }
    .slideUp {
      transform: translateY(100%);
      overflow: hidden;
    }

    h1 {
      font-size: 3.75rem;
    }
    p {
      font-size: 1.25rem;
    }
    p:last-of-type {
      margin-top: 0.5rem;
    }
  }
  .title {
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 2rem;
  }
}

.body-contents {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

.body-contents .preview {
  background-color: #181303;
  padding: calc(10vh + 4rem) 4rem;
  text-align: center;
}

.body-contents .main {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
}

.list {
  list-style-type: "+ ";
}
